include mloq/assets/requirements/data-science.txt
include mloq/assets/requirements/data-visualization.txt
include mloq/assets/requirements/pytorch.txt
include mloq/assets/requirements/requirements-lint.txt
include mloq/assets/requirements/requirements-test.txt
include mloq/assets/requirements/tensorflow.txt
include mloq/assets/static/mloq.yml
include mloq/assets/static/DCO.md
include mloq/assets/static/.gitignore
include mloq/assets/static/Dockerfile_aarch64
include mloq/assets/static/build-manylinux-wheels.sh
include mloq/assets/templates/code_of_conduct.md
include mloq/assets/templates/MIT_LICENSE
include mloq/assets/templates/pyproject.toml
include mloq/assets/templates/setup.py
include mloq/assets/templates/Makefile
include mloq/assets/templates/Dockerfile
include mloq/assets/templates/MLproject
include mloq/assets/templates/README.md
include mloq/assets/templates/makefile.docker
include mloq/assets/templates/test_main.txt
include mloq/assets/templates/rename_testpypi_wheels.py
include mloq/assets/workflows/push-dist.yml
include mloq/assets/workflows/push-python.yml
include mloq/assets/static/__init__.py
include mloq/assets/static/__main__.py
include mloq/assets/static/version.py
include README.md