include mloq/assets/requirements/data-science.txt
include mloq/assets/requirements/data-visualization.txt
include mloq/assets/requirements/pytorch.txt
include mloq/assets/requirements/requirements-lint.txt
include mloq/assets/requirements/requirements-test.txt
include mloq/assets/requirements/tensorflow.txt
include mloq/assets/static/init.txt
include mloq/assets/static/main.txt
include mloq/assets/static/version.txt
include mloq/assets/static/mloq.yml
include mloq/assets/static/DCO.md
include mloq/assets/static/.gitignore
include mloq/assets/static/Dockerfile_aarch64
include mloq/assets/static/build-manylinux-wheels.sh
include mloq/assets/templates/CODE_OF_CONDUCT.md
include mloq/assets/templates/MIT_LICENSE
include mloq/assets/templates/pyproject.toml
include mloq/assets/templates/setup.txt
include mloq/assets/templates/Makefile
include mloq/assets/templates/Dockerfile
include mloq/assets/templates/MLproject
include mloq/assets/templates/README.md
include mloq/assets/templates/CONTRIBUTING.md
include mloq/assets/templates/makefile.docker
include mloq/assets/templates/test_main.txt
include mloq/assets/templates/rename_testpypi_wheels.txt
include mloq/assets/workflows/push-dist.yml
include mloq/assets/workflows/push-python.yml
include README.md