include mloq/assets/requirements/data-science.txt
include mloq/assets/requirements/data-visualization.txt
include mloq/assets/requirements/pytorch.txt
include mloq/assets/requirements/requirements-lint.txt
include mloq/assets/requirements/requirements-test.txt
include mloq/assets/requirements/tensorflow.txt
include mloq/assets/static/repository.yml
include mloq/assets/static/DCO.md
include mloq/assets/static/.gitignore
include mloq/assets/templates/code_of_conduct.md
include mloq/assets/templates/MIT_LICENSE
include mloq/assets/templates/pyproject.toml
include mloq/assets/templates/setup.py
include mloq/assets/templates/Makefile
include mloq/assets/templates/Dockerfile
include mloq/assets/templates/MLproject
include mloq/assets/templates/README.md
include mloq/assets/workflows/deploy-dist.yml
include mloq/assets/workflows/deploy-python.yml
include mloq/assets/workflows/test-dist.yml
include mloq/assets/workflows/test-python.yml
include mloq/assets/static/__init__.py
include mloq/assets/static/__main__.py
include mloq/assets/static/version.py
include README.md