[flake8]
ignore=B008,B301,C815,C816,C812,D100,D105,D200,D202,D301,D402,E121,E123,E126,E203,E226,E24,E704,F821,W503,W504
max-line-length=99
exclude=
    .git
    docs

inline-quotes="
import-order-style=appnexus
application-package-names={project_name}
per-file-ignores=
    **/__init__.py: F401
    **/tests/**:D, F401, F811